@import "tailwindcss";

@theme inline {
  --color-primary: #3b66ff;
  --color-shelf-surface: #12192b;
  --color-sky-light: #819bff;
  --color-gold: #755700;
  --font-headline: "Noto Serif", serif;
  --font-body: "Work Sans", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.book-hover {
  cursor: pointer;
  position: relative;
  z-index: 10;
}
